/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Заголовок */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header img {
    width: 190px;
    height: 100px;
}

/* Навигация */
nav {
    background-color: #444;
    text-align: center;
    padding: 10px 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
}

nav a:hover {
    background-color: #555;
}

/* Общий контент */
.content {
    padding: 20px;
}

/* Контейнер для сотрудников */
.employee-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
}

.left-half,
.right-half {
    flex: 1;
    padding: 20px;
    text-align: center;
}

/* Информация о сотруднике */
.employee-info {
    margin-top: 20px;
}

/* Панель прокрутки */
.scrolling-panel-container {
    width: 300px;
    overflow-x: auto;
}

.scrolling-panel {
    display: flex;
}

.left-image,
.right-image {
    float: left;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Контейнер с изображениями */
.big-image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 800px;
}

.image {
    position: absolute;
    width: 500px;
    height: 400px;
}

.image:nth-child(1) {
    top: 0;
    left: 0;
}

.image:nth-child(2) {
    top: 0;
    left: 500px;
}

.image:nth-child(3) {
    top: 400px;
    left: 0;
}

.image:nth-child(4) {
    top: 400px;
    left: 500px;
}

/* Галерея изображений */
.image-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

/* Стили для отдельного изображения */
.image-item {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.image-item img {
    max-width: 100%;
    height: auto;
}

/* Сервисы */
.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.service {
    flex: 1;
    max-width: 300px;
    margin: 10px;
    text-align: center;
}

/* Кнопка */
.my-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* Выравнивание текста и изображений */
.centered-text {
    text-align: center;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.left-align-image {
    float: left;
}

.right-align-image {
    float: right;
}

/* Контейнер с текстом и изображением */
.container {
    display: flex;
    align-items: center;
}

.text {
    flex: 1;
    text-align: left;
}

.image {
    flex: 1;
    text-align: right;
}

/* Кнопка на странице */
#button-link {
    position: fixed;
    top: 20px;
    right: 20px;
}

#button-link img {
    width: 50px;
    height: auto;
    border: none;
}

.reg_fon {
    background-size: cover; /* Масштабируем изображение, чтобы оно покрыло весь фон */
    background-repeat: no-repeat; /* Отключаем повторение фонового изображения */
    background-attachment: fixed; /* Фиксируем фон, чтобы он не прокручивался вместе с контентом */
}
background-image: url(''); /* Замените 'путь_к_вашей_картинке.jpg' на реальный путь к вашему изображению */


.menu {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.menu-btn {
    background: none;
    border: none;
    cursor: pointer;
    margin-bottom: 5px;
    transition: filter 0.3s;
}

    .menu-btn img {
        width: 30px; /* Задайте нужную ширину изображения */
        height: auto;
    }

    .menu-btn:hover {
        filter: brightness(85%);
    }

.menu-options {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

    .menu-btn:hover + .menu-options,
    .menu-options:hover {
        display: block;
    }

.menu-option {
    padding: 8px 12px;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s;
}

    .menu-option:hover {
        background-color: #f2f2f2;
    }
